.heading {
  padding: $spacing-xl 0;
  display: flex;
  align-items: center;

  &__title {
    font-size: 64px;
    font-weight: 600;
  }

  @include breakpoint-max(lg) {
    padding: $spacing-lg 0;
    justify-content: center;

    &__title {
      font-size: clamp(48px, 6vw, 64px);
    }
  }
}