// Colors
$color-bg: #1f1e25;
$color-white: #ffffff;
$color-purple: #7636df;
$color-red: #df3636;
$color-green: #84c53e;
$color-purple-dark: #8653a6;
$color-grey: #bcbcbc;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 48px;

// Transitions
$transition-fast: .3s;
$transition-slow: .5s;