.features {

  &__list {
    display: flex;
    justify-content: center;
    gap: $spacing-lg;
  }

  &__item {
    padding: $spacing-lg;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-md;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 2px rgb(35, 33, 55);
  }

  &__item-title {
    font-size: 24px;
    font-weight: 400;
  }

  &__item-subtitle {
    line-height: 1.4;
  }

  &__item-img {
    max-width: 100%;
    height: auto;
  }

  @include breakpoint-max(lg) {

    &__list {
      padding: 0 $spacing-md;
      flex-direction: column;
    }
  }
}