.about {

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-lg;
  }

  &__info {
    font-size: 18px;

    @include breakpoint-max(lg) {
      font-size: 16px;
    }

    p {
      margin-bottom: $spacing-md;
      line-height: 1.4;
    }
  }
}