.header {
  padding: $spacing-md 0;

  @include breakpoint-min(lg) {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;
    color: $color-white;
    font-size: 24px;
  }
}

