.header {
  padding: $spacing-md 0;
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    text-decoration: none;
    color: $color-white;
    font-size: 24px;
  }

  &__menu-list {
    display: flex;
    align-items: center;
  }

  &__menu-link {
    padding: $spacing-lg;
    transition: color $transition-fast;

    &.is-active,
    &:hover {
      color: $color-purple-dark;
    }
  }
}